
<div class="footer">
	<div class="container">
		<h2><a href="index.html">Music Spot</a></h2>
		
					<ul>
						<li ><a href="/user-details" >User Details</a> </li>
						<li ><a href="/albums" >Albums</a> </li>
						<li><a href="/playlist"  >Playlist</a></li>
						<li><a href="index.html" >Logout</a></li>
						<div class="clearfix"> </div>
					</ul>
					<p > © 2018 Music Spot All rights reserved | Design by  <a href="/" >Savan Gotrakiya</a></p>
	</div>
</div>
