<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Music Club A Music Category Flat Bootstarp Resposive Website Template | Mail :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--flexslider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<!--//flexslider-->
</head>
<body>
<!--header-->

<% include header.ejs%>
<!--//header-->


<!--content-->

			<div class="contact">
				<div class="container">
					<div class="contact-top ">
					<center>
						<h3>SignUp</h3>
					</center>
					</div>		
		
					<div class="contact-grids">
						<div class="contact-form">
							<form>
								<div class="contact-bottom">
								
									<div class="col-md-4 in-contact">
										<span style="width:200px;">Email:</span>
									
										<input type="email" class="text" value="">
									
									</div><br/><br/><br/><br/><br/>

									<div class="col-md-4 in-contact">
										<span style="width:200px;">Confirm Email:</span>
									
										<input type="email" class="text" value="">
									
									</div><br/><br/><br/><br/><br/>
									
									<div class="col-md-4 in-contact">
										<span style="width:200px;">Password:</span>
									
										<input type="password" class="text" value="">
									
									</div><br/><br/><br/><br/><br/>
									
									

									<div class="col-md-4 in-contact">
										<span style="width:200px;">Confirm Password:</span>
										<input type="password" class="text" value="">
									</div>

									<br/><br/><br/><br/><br/>
									<div class="col-md-4 in-contact">
										<span style="width:200px;">Date of Birth:</span>
										<input type="date" class="text" value="">
									</div>
							
									<div class="clearfix"> </div>

								</div>
								<div class="clearfix"> </div>
								<input type="submit" value="SignUp">
							</form>
						</div>
						<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			
<!--//content-->
<!--footer-->
	<% include footer.ejs%>
<!--//footer-->
</body>
</html>